body {
  margin: auto 400px;
  background-color: gray;
  text-align: justify;
  padding: 40px;
  text-decoration-color: goldenrod;
}
.cas {
  background-color: rgb(3, 51, 3);
  margin: 50px;
  height: 300px;
  width: 500px;
  padding: 10px;
  border-radius: 20px;
  text-decoration-color: goldenrod;
  /* box-shadow:box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; ; */
}
tr {
  border-style: solid;
  border-color: rgb(117, 78, 5);
  border-radius: 5px;
  color: goldenrod;
}
a {
  color: goldenrod;
}
table {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

tr:nth-of-type(2) {
  border: transparent;
  border-radius: 5px;
}
